* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100dvh;
}

.banner {
  width: 100%;
  background-color: #FFDD00;
  padding: 1rem;
  text-align: center;

  p {
    font-size: 1.6rem;
    line-height: 1.25;
    text-transform: uppercase;
  }
}